<button onclick="setView('map');">Don't press me!</button>

<p>This is the main view. Please change me, I can be found in 
	<code>views/main/html.html</code></p>
<p>To change the view, add another view and call the javascript function
	<code>setView('myView');</code> (of course you need to change myView). 
	(for example you could use the code
	<code>&lt;button onclick="setView('myView');"&gt;
		myView&lt;/button&gt;
	</code>)</p>
<p>Try to press the menu button, what happens?</p>
<div id="menu">
	<div class="menubutton">This</div>
	<div class="menubutton">Is</div>
	<div class="menubutton">An</div>
	<div class="menubutton">Ugly</div>
	<div class="menubutton">Menu</div>
</div>
