div#menu {
	border-top: 1px solid black;
	height: 70px;
	position: absolute;
	top: 480px;
	width: 320px;
}

div.menubutton {
	position: relative;
	width: 100%;
	border-left: 1px solid black;
	margin-left: -1px;
	height: 30px;
	float: left;
	text-align: center;
	padding-top: 20px;
}
